@{
    ViewData["Title"] = "Staff Dashboard";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<section class="content">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Hello Staff</h1>
            <p class="lead">Welcome to your dashboard! @ViewData["UserName"]</p>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}